{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Demander un emprunt{% endblock %}

{% block body %}
    <div class="container-fluid p-4">
        <div class="row mb-4">
            <div class="col-12">
                <h1 class="h3 mb-1">Demander un emprunt</h1>
                <p class="text-muted mb-0">Indiquez le livre que vous souhaitez emprunter.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        {{ form_start(form) }}
                            {{ form_row(form.bookId) }}
                            {{ form_row(form.desiredLoanDate) }}
                            {{ form_row(form.desiredReturnDate) }}
                            {{ form_row(form.notes) }}

                            <div class="d-flex gap-2 mt-3">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-send me-2"></i>Envoyer la demande
                                </button>
                                <a href="{{ path('member_home') }}" class="btn btn-outline-secondary">
                                    Retour à l’accueil
                                </a>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
