{% extends 'base.html.twig' %}

{% block title %}ReadingChallenge index{% endblock %}

{% block body %}
    <h1>ReadingChallenge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Goal</th>
                <th>Type</th>
                <th>Status</th>
                <th>Reward</th>
                <th>Rules</th>
                <th>Difficulty</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>CreatedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reading_challenge in reading_challenges %}
            <tr>
                <td>{{ reading_challenge.id }}</td>
                <td>{{ reading_challenge.goal }}</td>
                <td>{{ reading_challenge.type }}</td>
                <td>{{ reading_challenge.status }}</td>
                <td>{{ reading_challenge.reward }}</td>
                <td>{{ reading_challenge.rules }}</td>
                <td>{{ reading_challenge.difficulty }}</td>
                <td>{{ reading_challenge.startDate }}</td>
                <td>{{ reading_challenge.endDate }}</td>
                <td>{{ reading_challenge.createdDate }}</td>
                <td>
                    <a href="{{ path('app_reading_challenge_show', {'id': reading_challenge.id}) }}">show</a>
                    <a href="{{ path('app_reading_challenge_edit', {'id': reading_challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reading_challenge_new') }}">Create new</a>
{% endblock %}
