{% extends 'base.html.twig' %}

{% block title %}ReadingChallenge{% endblock %}

{% block body %}
    <h1>ReadingChallenge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reading_challenge.id }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>{{ reading_challenge.goal }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reading_challenge.type }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reading_challenge.status }}</td>
            </tr>
            <tr>
                <th>Reward</th>
                <td>{{ reading_challenge.reward }}</td>
            </tr>
            <tr>
                <th>Rules</th>
                <td>{{ reading_challenge.rules }}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ reading_challenge.difficulty }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ reading_challenge.startDate }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ reading_challenge.endDate }}</td>
            </tr>
            <tr>
                <th>CreatedDate</th>
                <td>{{ reading_challenge.createdDate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reading_challenge_index') }}">back to list</a>

    <a href="{{ path('app_reading_challenge_edit', {'id': reading_challenge.id}) }}">edit</a>

    {{ include('reading_challenge/_delete_form.html.twig') }}
{% endblock %}
