{% extends 'base.html.twig' %}
{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Club index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>MeetingDate</th>
                <th>MeetingLocation</th>
                <th>Capacity</th>
                <th>IsPrivate</th>
                <th>Status</th>
                <th>CreatedDate</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.title }}</td>
                <td>{{ club.description }}</td>
                <td>{{ club.category }}</td>
                <td>{{ club.meetingDate ? club.meetingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ club.meetingLocation }}</td>
                <td>{{ club.capacity }}</td>
                <td>{{ club.isPrivate ? 'Yes' : 'No' }}</td>
                <td>{{ club.status.getLabel() }}</td>
                <td>{{ club.createdDate ? club.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ club.image }}</td>
                <td>
                    <a href="{{ path('app_club_show', {'id': club.id}) }}">show</a>
                    <a href="{{ path('app_club_edit', {'id': club.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_club_new') }}">Create new</a>
{% endblock %}
