{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    <h1>Club</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ club.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ club.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ club.category }}</td>
            </tr>
            <tr>
                <th>MeetingDate</th>
                <td>{{ club.meetingDate ? club.meetingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MeetingLocation</th>
                <td>{{ club.meetingLocation }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ club.capacity }}</td>
            </tr>
            <tr>
                <th>IsPrivate</th>
                <td>{{ club.isPrivate ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ club.status }}</td>
            </tr>
            <tr>
                <th>CreatedDate</th>
                <td>{{ club.createdDate ? club.createdDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ club.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_club_index') }}">back to list</a>

    <a href="{{ path('app_club_edit', {'id': club.id}) }}">edit</a>

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
