<!-- Sidebar START -->
<nav class="navbar sidebar navbar-expand-xl navbar-dark bg-dark">

	<!-- Navbar brand for xl START -->
<div class="d-flex align-items-center">
    <a class="navbar-brand" href="{{ path('app_home') }}">
        <div class="d-flex align-items-center">
            <!-- Icône livre plus petite -->
            <div class="bg-gradient-primary rounded p-1 me-2 shadow-sm">
                <i class="fas fa-book-open text-white fs-4"></i>
            </div>
            <!-- Texte plus compact -->
            <div class="border-start border-white border-opacity-25 ps-2">
                <h5 class="text-white mb-0 fw-bold">LIBRARY<span class="text-warning">HUB</span></h5>
                <small class="text-white-50" style="font-size: 0.7rem;">Bibliothèque</small>
            </div>
        </div>
    </a>
</div>

<!-- Navbar brand for xl END -->
	
	<div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1" id="offcanvasSidebar">
		<div class="offcanvas-body sidebar-content d-flex flex-column bg-dark">

			<!-- Sidebar menu START -->
<ul class="navbar-nav flex-column" id="navbar-sidebar">
    
    <!-- Menu item 1 -->
    <li class="nav-item"><a href="{{ path('biblio_catalog_index') }}" class="nav-link"><i class="bi bi-house fa-fw me-2"></i>Dashboard</a></li>
    
    <!-- Title -->
    <li class="nav-item ms-2 my-2">Navigation Principale</li>

    <!-- Catalogue -->
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseCatalogue" role="button" aria-expanded="false" aria-controls="collapseCatalogue">
            <i class="bi bi-book fa-fw me-2"></i>Catalogue
        </a>
        <ul class="nav collapse flex-column" id="collapseCatalogue" data-bs-parent="#navbar-sidebar">
            <li class="nav-item"> <a class="nav-link" href="{{ path('biblio_book_index') }}">Tous les livres</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ path('biblio_category_index') }}">Catégories</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{ path('biblio_author_index') }}">Auteurs</a></li>
        </ul>
    </li>
 
</ul>
<!-- Sidebar menu end -->

<!-- Sidebar footer START -->
<div class="px-3 mt-auto pt-3">
    <div class="d-flex align-items-center justify-content-between text-primary-hover">
        <a class="h5 mb-0 text-body" href="admin-setting.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Settings">
            <i class="bi bi-gear-fill"></i>
        </a>
        <a class="h5 mb-0 text-body" href="index.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
            <i class="bi bi-globe"></i>
        </a>
        <a class="h5 mb-0 text-body" href="sign-in.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Sign out">
            <i class="bi bi-power"></i>
        </a>
    </div>
</div>
</nav>
<!-- Sidebar footer END -->